/* button */
.button-selected-color{
    color:#fff;
}

.button-bg-color{
    background-color:#9747FF;
}
/* Add this to your CSS file */
.placeholder-white::placeholder {
    color: white;
  }
.profilePop{
    transform: translate(-50%, -50%);
    background: var(--border-clr-3);
    border: var(--border-2);
}