.sec-btn{
    background: var(--linear-1);
    color: var(--base-white);
    border-radius: 8px;
    border: var(--border-2);
    transition: 0.25s ease;
    width: fit-content;

    &:hover{
        background:  linear-gradient(95deg, #232323 11.34%, #313131 114.28%);
    }

    &:active{
        scale: 0.98;
    }
}