@import url('https://fonts.cdnfonts.com/css/satoshi');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --bg-black-dark: #0F0F0F;
  --inp-bg: #2F2F2F;
  --inp-bg-2: #272727;
  --border-clr-1: #2B2B2B;
  --border-clr-2: #343434;
  --border-clr-3: #232323;
  --border-clr-4: #474747;
  --border-clr-5: #3F3F3F;
  --border-1: 1px solid var(--border-clr-1);
  --border-2: 1px solid var(--border-clr-2);
  --linear-1: linear-gradient(96deg, #1B1B1B 11.33%, #222 97.74%);
  --linear-2: linear-gradient(96deg, #F13BD5 0%, #B22FE2 22%, #9747FF 43%, #653BF1 84%, #3594DC 120%);

  /* font colors */
  --base-white: #FFFFFF;
  --white-1: #D4D4D4;

  --grey-1: #7F7F7F;
  --grey-2: #B9B9B9;
  --grey-3: #858585;
}

html{
  font-family: "Satoshi", sans-serif;
  font-size: 14px;
}
.single-page{
  min-height: 100dvh;
  width: 100%;
  color: white;
  position: relative;
}