.act-btn {
    transition: background 0.25s, border 0.25s, color 0.25s;
    border: 1px solid var(--inp-bg);
    color: #cecece;
}
.act-btn:hover {
    background: var(--border-clr-2);
    border: 1px solid var(--border-clr-4);
    color: white;
}