.sideMenu{
    background: var(--border-clr-1);
    border: 1px solid var(--border-clr-5);

    && .menu-head {
        min-width: 18rem;
        color: var(--grey-3);

        && .toggle {
            background: var(--border-clr-2);
            border: 1px solid var(--border-clr-4);
            cursor: pointer;
            transition: background 0.25s ease, color 0.25s ease;
        }
        && .toggle:hover{
            background: var(--border-clr-4);
            color: var(--grey-4);
        }
        && .toggle:active{
            background: var(--border-clr-3);
        }
    }
    && .profile {

        && .details {
            && .email {
                color: var(--grey-5);
            }
        }

        && .plan {
            background: #3c3c3c;
            border: 1px solid var(--border-clr-4);
        }

        && .account{
            transition: background 0.25s ease;
        }
        && .account:hover{
            background: var(--border-clr-2);
        }
    } 
    && .tabs {
        scrollbar-width: none;
        width: 19.3rem;
        overflow-x: scroll;

        && button {
            transition: 0.25s;
            outline: 0;
            border: 0;
        } 
        
    }
}
.seperator{
    width: 116%;
    height: 1px;
    background: var(--border-clr-5);
    margin-inline: -22px;
}
.past-chat-container{
    scrollbar-width: none;
}